
/* КАРТИНКИ. Загрузка изображений */

.img_1 {
    background: url("../../pictures/1painting/01acryl/acr6.jpg");
}

.img_2 {
    background: url("../../pictures/1painting/02natur/ntr3.jpg");
}

.img_3 {
    background: url("../../pictures/1painting/03buddagirl/bdd2.jpg");
}

.img_4 {
    background: url("../../pictures/1painting/04frames/frm3.jpg");
}

.img_5 {
    background: url("../../pictures/1painting/05stel/tel1.jpg");
}

.img_6 {
    background: url("../../pictures/1painting/06tonal/tnl1.jpg");
}

.img_7 {
    background: url("../../pictures/1painting/07hyperdress/drs3.jpg");
}

.img_8 {
    background: url("../../pictures/1painting/08ornithologi/orn3.jpg");
}

.img_9 {
    background: url("../../pictures/1painting/09zimmer/zim4.jpg");
}

.img_10 {
    background: url("../../pictures/1painting/10dantoys/dnt2.jpg");
}

.img_11 {
    background: url("../../pictures/1painting/11point/pnt1.jpg");
}

.img_12 {
    background: url("../../pictures/1painting/12hat/hat1.jpg");
}

.img_13 {
    background: url("../../pictures/1painting/13oldoil/oop2.jpg");
}

/* ПОДВАЛ без визитки */

.down_panel_small {
    max-width: none;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 150px;
    padding: 30px;
    background-color: rgb(100, 100, 100);
}