
/* КАРТИНКИ. Загрузка изображений */

.img_1 {
    background: url("../../pictures/6web/01taro/tar1.jpg");
}

.img_2 {
    background: url("../../pictures/6web/02maya/may1.jpg");
}

.img_3 {
    background: url("../../web/player/img/pic.jpg");
}

/* ПОДВАЛ без визитки */

.down_panel_small {
    max-width: none;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 150px;
    padding: 30px;
    background-color: rgb(100, 100, 100);
}