* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    /* border: dotted 1px yellow; Сетка для отладки */
}

@font-face {
    font-family: 'play-regular';
    src: url("../fonts/play-regular.woff"); 
}

@font-face {
    font-family: 'play-bold';
    src: url("../fonts/play-bold.woff"); 
}

body {
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    min-width: 0px;
    background-color: black;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}


@keyframes showBlock1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes showBlock2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes showBlock3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes showBlock4 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes showBlock5 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

/* _____________________ НАЧАЛЬНЫЙ ЭКРАН _____________________ */

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* высота секции равна высоте области просмотра */
    background-color: black;
    z-index: 10;
}

.desk {
    display: block;
    position: relative;
    margin: auto;
    width: 500px;
    height: 580px;
    margin-top: 5vh;
}

.logopic {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 500px;
    height: 400px;
}

.order1 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 120px;
    width: 50%;
    height: 40px;
    padding: 8px 0px 0px 0px;
    background-color:black;
    color: rgb(150, 150, 150);
    cursor: pointer; 
    font-family: 'play-regular', sans-serif;
    font-size: large; 
    border: 1px solid rgb(50, 50, 50);
}

.order1:hover {
    color: rgb(250, 250, 250);
    background-color:rgb(50, 50, 50);
}

.order2 {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 120px;
    width: 50%;
    height: 40px;
    padding: 8px 0px 0px 0px;
    background-color:black;
    color: rgb(150, 150, 150);
    cursor: pointer; 
    font-family: 'play-regular', sans-serif;
    font-size: large; 
    border: 1px solid rgb(50, 50, 50);
}

.order2:hover {
    color: rgb(250, 250, 250);
    background-color:rgb(50, 50, 50);
}

.temp1 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 50%;
    height: 40px;
    padding: 8px 0px 0px 0px;
    background-color:black;
    color: rgb(150, 150, 150);
    cursor: pointer; 
    font-family: 'play-regular', sans-serif;
    font-size: large; 
    border: 1px solid rgb(50, 50, 50);
}

.temp1:hover {
    color: rgb(250, 250, 250);
    background-color:rgb(50, 50, 50);
}

.temp2 {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 80px;
    width: 50%;
    height: 40px;
    padding: 8px 0px 0px 0px;
    background-color:black;
    color: rgb(150, 150, 150);
    cursor: pointer; 
    font-family: 'play-regular', sans-serif;
    font-size: large;
    border: 1px solid rgb(50, 50, 50);  
}

.temp2:hover {
    color: rgb(250, 250, 250);
    background-color:rgb(50, 50, 50);
}

.tempform {
    color: rgb(150, 150, 150);
    background-color:black;
 
}

.tempform:hover {
    color: white;
}

#customtemp {
    width: 30px;
    border: none;
    background-color:rgb(0, 0, 0);
    color:white;
    padding: 2px;
}

.setpause {
    display: block;
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    height: 40px;
    padding: 8px 0px 0px 0px;
    background-color:black;
    color: rgb(150, 150, 150);
    cursor: pointer; 
    font-family: 'play-regular', sans-serif;
    font-size: large; 
    border: 1px solid rgb(50, 50, 50); 
}

.start {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    background-color:black;
    color: rgb(250, 250, 250);
    cursor: pointer; 
    font-family: 'play-regular', sans-serif;
    font-size: large; 
    border: 1px solid rgb(50, 50, 50);
}

.start:hover {
    background-color:rgb(50, 50, 50);
}

/* __________ ПАНЕЛЬ ДЛЯ ВЫВОДА УВЕЛИЧЕННОЙ КАРТИНКИ __________ */

.pic {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} 

.place {
    margin: auto;
    width: 95%;
    margin-top: 5vh;
    height: 85vh;
    max-width: 1000px;
} 

.panel {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(30, 30, 30);
    text-align: center; 
    margin: 0px;
}
.key {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color:goldenrod;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;
}

.key:hover {
    opacity: 1;
}

.arr {
    display: block;
    position: absolute;
    top: 46vh;
    left: 20px;
    width: 20px;
}

.next {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    padding: 30px;
    opacity: 0.3;
    cursor: pointer; 
}
.next:hover {
    opacity: 1;
}

.previous {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    padding: 30px;
    opacity: 0.3;
    cursor: pointer; 
}
.previous:hover {
    opacity: 1;
}

.cross {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    padding: 10px;
    opacity: 0.3;
    cursor: pointer; 
  }
  
.cross:hover {
    opacity: 1;
  }

  @media screen and (max-width: 520px) {

    .desk {
        display: block;
        position: relative;
        margin: auto;
        width: 100%;
        height: 600px;
        margin-top: 0;
    }

    .logopic {
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        height: 400px;
    }
}