* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    /* border: dotted 1px yellow; Сетка для отладки */
}

@font-face {
    font-family: 'Oswald-Light';
    src: url("../../../fonts/Oswald-Light.woff"); 
}

body {
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    min-width: 0px;
    background-color: black;
}

a {
    display: inline-block;
    position: relative;
	text-decoration: none;
}


@keyframes showBlock1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes showBlock2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes showBlock3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes showBlock4 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes showBlock5 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

/* __________ ПАНЕЛЬ ДЛЯ ВЫВОДА УВЕЛИЧЕННОЙ КАРТИНКИ __________ */


.place {
    margin: auto;
    width: 95%;
    margin-top: 5vh;
    height: 85vh;
    max-width: 1000px;
} 

.panel {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(30, 30, 30);
    text-align: center; 
    margin: 0px;
}
.key {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color:goldenrod;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;
}

.key:hover {
    opacity: 1;
}

.arr {
    display: block;
    position: absolute;
    top: 46vh;
    left: 20px;
    width: 20px;
}

.next {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    padding: 30px;
    opacity: 0.3;
    cursor: pointer; 
}
.next:hover {
    opacity: 1;
}

.previous {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    padding: 30px;
    opacity: 0.3;
    cursor: pointer; 
}
.previous:hover {
    opacity: 1;
}

.cross {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    padding: 10px;
    opacity: 0.3;
    cursor: pointer; 
  }
  
.cross:hover {
    opacity: 1;
  }

span {
    position: static;
    color: white;
    opacity: 1;  
}

.positioni {
    color: white;
    opacity: 1;
}
.positionj {
    color: white;
    opacity: 1;
}
.regime {
    color: white;
    opacity: 1;
}